<div class='row'>

	<div class='col-md-12'>
		<h3> Devops Tools </h3>
	</div>
	<div class='col-md-12'>
		<p class='text-muted'> Found N repositories.. </p>
	</div>
	<div class='col-md-12'>

		<div style='height:20px;'></div>
		<div class='row'>
			<div class='col-md-12'>

				<div class='row card   card-white section-md'>

						<div class='col-md-6 col-sm-6 height50'>
							<span class='repo-name'>
								<a href='#'> docker / docker </a>
							</span>
						</div>

						<div class='col-md-6 col-sm-6 height50'>
							<span class='pull-right'>
								<i class="fa fa-code-fork"></i> 8,000
							</span>
							<span class='pull-right margin-r-20'>
								<i class='glyphicon glyphicon-star'></i> 30,000
							</span>
							<span class='pull-right margin-r-20'>
								<b> Go </b>
							</span>
							&nbsp;
						</div>
						<div class='col-md-12 col-sm-12'>
							<div class='pad10'>
								Docker - the open-source application container engine 
							</div>
						</div>

				</div>

				<div class='row card   card-white section-md'>

						<div class='col-md-6 col-sm-6 height50'>
							<span class='repo-name'>
								<a href='#'> ansible / ansible  </a>
							</span>
						</div>
						<div class='col-md-6 col-sm-6 height50'>
							<span class='pull-right'>
								<i class="fa fa-code-fork"></i> 8,000
							</span>
							<span class='pull-right margin-r-20'>
								<i class='glyphicon glyphicon-star'></i> 30,000
							</span>
							<span class='pull-right margin-r-20'>
								<b> Python </b>
							</span>
							&nbsp;
						</div>
						<div class='col-md-12'>
							<div class='pad10'>
								Ansible is a radically simple IT automation platform that makes your applications and systems easier to deploy. Avoid writing scripts or custom code to deploy and update your applications— automate in a language that approaches plain English, using SSH, with no agents to install on remote systems. 
							</div>
						</div>

				</div>

				<div class='row card   card-white section-md'>

						<div class='col-md-6 col-sm-6 height50'>
							<span class='repo-name'>
								<a href='#'> docker / docker </a>
							</span>
						</div>

						<div class='col-md-6 col-sm-6 height50'>
							<span class='pull-right'>
								<i class="fa fa-code-fork"></i> 8,000
							</span>
							<span class='pull-right margin-r-20'>
								<i class='glyphicon glyphicon-star'></i> 30,000
							</span>
							<span class='pull-right margin-r-20'>
								<b> Go </b>
							</span>
							&nbsp;
						</div>
						<div class='col-md-12 col-sm-12'>
							<div class='pad10'>
								Docker - the open-source application container engine 
							</div>
						</div>

				</div>

				<div class='row card   card-white section-md'>

						<div class='col-md-6 col-sm-6 height50'>
							<span class='repo-name'>
								<a href='#'> ansible / ansible  </a>
							</span>
						</div>
						<div class='col-md-6 col-sm-6 height50'>
							<span class='pull-right'>
								<i class="fa fa-code-fork"></i> 8,000
							</span>
							<span class='pull-right margin-r-20'>
								<i class='glyphicon glyphicon-star'></i> 30,000
							</span>
							<span class='pull-right margin-r-20'>
								<b> Python </b>
							</span>
							&nbsp;
						</div>
						<div class='col-md-12'>
							<div class='pad10'>
								Ansible is a radically simple IT automation platform that makes your applications and systems easier to deploy. Avoid writing scripts or custom code to deploy and update your applications— automate in a language that approaches plain English, using SSH, with no agents to install on remote systems. 
							</div>
						</div>

				</div>


<div class='row card   card-white section-md'>

						<div class='col-md-6 col-sm-6 height50'>
							<span class='repo-name'>
								<a href='#'> docker / docker </a>
							</span>
						</div>

						<div class='col-md-6 col-sm-6 height50'>
							<span class='pull-right'>
								<i class="fa fa-code-fork"></i> 8,000
							</span>
							<span class='pull-right margin-r-20'>
								<i class='glyphicon glyphicon-star'></i> 30,000
							</span>
							<span class='pull-right margin-r-20'>
								<b> Go </b>
							</span>
							&nbsp;
						</div>
						<div class='col-md-12 col-sm-12'>
							<div class='pad10'>
								Docker - the open-source application container engine 
							</div>
						</div>

				</div>

				<div class='row card   card-white section-md'>

						<div class='col-md-6 col-sm-6 height50'>
							<span class='repo-name'>
								<a href='#'> ansible / ansible  </a>
							</span>
						</div>
						<div class='col-md-6 col-sm-6 height50'>
							<span class='pull-right'>
								<i class="fa fa-code-fork"></i> 8,000
							</span>
							<span class='pull-right margin-r-20'>
								<i class='glyphicon glyphicon-star'></i> 30,000
							</span>
							<span class='pull-right margin-r-20'>
								<b> Python </b>
							</span>
							&nbsp;
						</div>
						<div class='col-md-12'>
							<div class='pad10'>
								Ansible is a radically simple IT automation platform that makes your applications and systems easier to deploy. Avoid writing scripts or custom code to deploy and update your applications— automate in a language that approaches plain English, using SSH, with no agents to install on remote systems. 
							</div>
						</div>

				</div>




			</div>
		</div>
	</div>
</div>